{
   "search-queries":[
      "jeu OR concours rt OR retweet gagne OR gagner",
      "from:ldlc rt follow"
   ],
   "follow-keywords":[
      " follow ",
      " suivre "
   ],
   "fav-keywords":[
      " fav ",
      " like "
   ],
   "scan-update-time":1800,
   "retweet-update-time":20,
   "rate-limit-update-time":10,
   "min-ratelimit":10,
   "min-ratelimit-retweet":20,
   "min-ratelimit-search":40,
   "consumer-key":"",
   "consumer-secret":"",
   "access-token-key":"",
   "access-token-secret":""
}
